<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}
</head>
<body>

  <!-- navbar -->
 {{>navbar}}
  <!-- navbar end -->

  <!-- main header -->
  <div class="container-fluids main_header">
    <div class="row">
      <div class="col-md-10 md-12 mx-auto">
        <div class="row">
          <!-- left header -->

          <div class="col-md-6 md-12 main_header_right">
            <div id="carouselExample" class="carousel slide imgt">
              <img src="images/about.jpeg" alt="">
            </div>
          </div>



          

          <!-- right header -->
         
          <div class="col-md-6 md-12 main_header_left">
            <p>My Name is Bhushan Chanore</p>
            <h1>I am <span class="text_cl">mern stack</span> developer</h1>
            <a href="https://instagram.com/bhushan_chanore?igshid=ZGUzMzM3NWJiOQ=="><button type="submit">about me</button></a>
          </div>



        </div>
      </div>
    </div>
  </div>
<!-- main header end -->

{{>footer}}

</body>

</html>

<!--  -->