<!DOCTYPE html>
<html lang="en">

<head>

{{>header}}
</head>


<body>

  <!-- navbar -->
  {{>navbar}}
  <!-- navbar end -->

  <!-- main header -->
  <div class="container-fluids main_header">
    <div class="row">
      <div class="col-md-10 md-12 mx-auto">
        <div class="row">
          <!-- left header -->
          <div class="col-md-6 md-12 main_header_left">
            <p>Welcome to Bhushan world-Weather app</p>
            <h1>Get the latest <span class="text_cl">Weather</span> info about your city</h1>
            <a href="weather"><button type="submit">click me</button></a>
          </div>

          <!-- right header -->
          <div class="col-md-6 md-12 main_header_right">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/ph1.jpg" class="w-100" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img src="images/ph2.jpg" class="w-100" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img src="images/ph3.jpg" class="w-100" alt="Third slide">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<!-- main header end -->

{{>footer}}

<script src="public/js/main.js"></script>

</body>

</html>

<!--  -->